body{
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #fff;
}

ul,
ol {
    list-style-type: none;
    margin-top: 0;
        margin-bottom: 0;
        padding-left: 0;
        padding-right: 0;
}

a {
    text-decoration: none;
}

p,
 h1, 
 h2,
 h3,
 h4,
 h5,
 h6 {
    margin-top: 0;
    margin-bottom: 0;
}

img {
    display: block;
    max-width: 100%;
}

.container {
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
}

/* ======header====== */

.header-container {
   display: flex;
   padding: 24px 0;
padding: 0 15px 0 15px;
}

.header {
    border-bottom: 1px solid #e7e9fc;
}

.header-logo {
font-family: "Raleway", sans-serif;
font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    margin-right: 76px;
}

.header-logo .logo-part{
    font-family: "Raleway", sans-serif;
        font-size: 18px;
        line-height: 1.16;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #2e2f42;
        
}
.header-navigation{
    display: flex;
    align-items: center;
}

.header-navigation-list {
    display: flex;
    gap: 40px;
}

.navigation-link {
font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-decoration: none;
    padding: 24px 0 24px;
}

.navigation-link:hover {
    font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #404bbf;
}

.navigation-link:active {
    font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #404bbf;
        text-decoration: underline;
}

.navigation-link:focus{
color: #404bbf;
}

.header-address {
font-style: normal;
margin-left: auto;
}

.address-link {
    font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}

.header-address-list{
    display: flex;
align-items: center;
gap: 40px;
padding: 24px 0 24px;
}

.address-link:hover,
.address-link:focus {
font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #404bbf;
}
/* ======hero====== */

.hero{
    background: #2e2f42;
padding: 188px 0 188px;
}

 .hero-container {
max-width: 1440px;
 }

.hero-title {
font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
    max-width: 496px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 48px;
}

.hero-btn {
    font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        color: #fff;
        background: #4d5ae5;
        cursor: pointer;
        display: block;
        border-radius: 4px;
        padding: 16px 32px;
        min-width: 169px;
        height: 56px;
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
        background: #4d5ae5;
        border-radius: 4px;
        margin-right: auto;
        margin-left: auto;
        border: none;
        }

.hero-btn:hover,
.hero-btn:focus {
    background: #404bbf;
}

/* =====adventages===== */

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.advantages {
    padding: 120px 0 120px;
}

.advantages-list {
    display: flex;
    gap: 24px; 
}

.advantages-list-item {
        width: calc((100% - 72px) / 4);
        margin: 0 auto;
}

.advantages-subtitle {
    font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
        margin-bottom: 8px;
}

.advantages-list-text {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}
/* ========team======== */

.team {
    background: #f4f4fd;
padding: 120px 0 120px 0;
}

.team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-transform: capitalize; 
    margin-bottom: 72px;
}
.team-list {
    display: flex;
    gap: 24px;
    align-items: center;
    justify-content: center;
}

.team-item {
    background-color: #FFFFFF;
    width: calc((100% - 72px) / 4);
    border-radius: 0px 0px 4px 4px;
}

.team-item-image {
    background: url("path_to_image");
}

.team-container {
padding: 32px 0 32px;
}

.team-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 8px;
}

.team-item-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
}
  
/* =========portfolio========== */
.portfolio {
    padding: 120px 0 120px 0;
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    column-gap: 24px;
    row-gap: 48px;
}
.portfolio-title {
    font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
        text-transform: capitalize;
        padding-right: auto;
        padding-left: auto;
        margin-bottom: 72px;
}

.portfolio-item-image {
    background: url("path_to_image");
}

.portfolio-container {
 padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    gap: 8px;
}

.portfolio-subtitle {
    font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
        margin-bottom: 8px;
}

.portfolio-item-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

/* =======footer======== */

.footer{
    background: #2e2f42;
     padding: 100px 0;

}

.footer-logo {
font-family: "Raleway", sans-serif;
font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
     display: inline-block;
     margin-bottom: 16px;
     }

.footer-logo .logo-part {
    font-weight: 700;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #f4f4fd;
}

.footer-text {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #f4f4fd;
        max-width: 264px;
}